@import "../../style/variables";

.filterCountries {
  align-items: center;
  background-color: $white;
  display: flex;
  font-size: 14px;
  border-radius: 4px;
  font-weight: bold;
  height: 40px;
  justify-content: space-between;
  min-width: 200px;
  padding: 0 20px;
  position: relative;
  border: none;
  color: $light-mode-text;
  &:hover{
    cursor: pointer;
  }

  &__options {
    display: none;
    position: absolute;
    left: 0;
    flex-direction: column;
    top: 110%;
    width: 100%;
    border-radius: 4px;

    &--active {
      display: flex;
    }
  }

  &__option {
    background-color: $white;
    align-items: center;
    box-sizing: border-box;
    color: inherit;
    display: flex;
    height: 40px;
    justify-content: center;
    width: inherit;

    &:hover,
    &--active {
      background-color: $light-mode-input;
      cursor: pointer;
      color: $white;
    }
  }
}

.themeFilter {
  background-color: $dark-mode-elements;
  color: $white;
}

@media (max-width: 375px){
  .filterCountries{
    margin: 1em ;
  }
}
