@import "../../style/variables";

.searchEngine {
  align-items: center;
  background-color: $white;
  border-radius: 5px;
  display: flex;
  gap: 18px;
  height: 42px;
  justify-content: space-around;
  padding: 25px;
  width: 500px;
  box-shadow: 0.5px 1px 2px #00000067;

  &__icon {
    color: inherit;
  }

  input {
    border: none;
    font-size: 14px;
    font-weight: bold;
    outline: none;
    background: transparent;
    width: 100%;
    &::placeholder {
      color: $light-mode-input;
    }
  }
}
.themeInput {
  background: $dark-mode-elements;
  input {
    color: $white;
  }
}

@media (max-width: 375px){
  .searchEngine{
    width: 95%;
  }
}
