.buttonThemer{
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    color: inherit;
    font-size: 18px;
    font-weight: bold;
    &:hover{
        cursor: pointer;
    }
}

@media (max-width: 375px){
    .buttonThemer{
      font-size: 14px;
    }
  }
  