@import "../../style/variables";

.innerHeader {
  box-shadow: 0px 0px 2px #00000067;
  background-color: $white;
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 45px;
  }

  h1 {
    font-size: 30px;
  }
}

.themeHeaderDark {
  background-color: $dark-mode-elements;
}

@media (max-width: 375px){
  .innerHeader{
    header{
      padding: 30px 10px;
    }
    h1{
      font-size: 18px;
    }
  }
}
