@import "../../../style/variables";

.cardCountries {
    width: 330px;
    margin: 10px 0;
    text-decoration: none;
    border-radius: 4px;
    color: gray;
    
    &__image{
        border-radius: 4px 4px 0 0;
    }

    &__initialDescription{
        p, h4{
            font-size: 14px;
        }
    }
}